<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "suza.appclub.ukimwi"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>VVU/UKIMWI</name>

    <description>
        Pata maelezo mazuri yatayokupa elimu bora kuhusu vvu na ukimwi 
    </description>

    <author href="https://suza.ac.tz" email="yusahaha@gmail.com">
        SUZA APP CLUB 
    </author>

</widget>
